@import '../../styles.less';

.header{
    background-color: @primary-color;
    box-shadow: @shadow-navbar;
}

.header-logo__icon{
    color: white;
}

.header-logo__title{
    margin-left: 5px;
    color: white
}
