<nav class="header">
  <div class="header__logo">
    <a routerLink="">
      <img class="header__logo-img"src="../../assets/logo.png" alt="">
    </a>
  </div>
  <div class="header__links">
    <div class="header__links-item">
      <a class="header__item" routerLink="/imoveis">Imóveis</a>
    </div>
    <div class="header__links-item">
      <a class="header__item">Fale Conosco</a>
    </div>
  </div>

  <div [ngClass]="!isLogged ? 'header__login--off' : 'header__login--on'">
    <div *ngIf="!isLogged; else nameUser" routerLink="/login">
      <i class="fas fa-2x fa-user-lock header__icon header__login--on"></i>
    </div>
  </div>

  <ng-template #nameUser>
    <div class="header__login--on">
      <span class="header__login-name">Olá, {{userName}}</span>
      <br>
      <a class="header__login-link" routerLink="./area-do-usuario">Acessar meu painel</a>
      <a class="header__logout" (click)="logout()">Sair</a>
    </div>
  </ng-template>
</nav>

<div class="slim-menu" style="display: none">
    <a class="header__item" routerLink="/imoveis">Imóveis</a>
    <a class="header__item" routerLink="/login">Área do cliente</a>
    <a class="header__item" href="#">Fale Conosco</a>
</div>


