@import '../../styles.less';

.header{
  background-color: @primary-color;
  box-shadow: @shadow;
  display: flex;
  &__logo{
    height: 50%;
  }
  &__title{
    margin-left: 5px;
    color: @text-navbar
  }
  &__item{
    color: @text-navbar;
    margin-left: 5px
  }
  &__item2{
    margin-right: 60%;
    color: @text-navbar;
    margin-left: 5px
  }
  .user-menu{
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    &__greetings{
      color: red;
    }
    &__logout{
      color: green
    }
    &__panel-link{
      color: purple
    }
  }
  &__login-icon{
    cursor: pointer;
  }
  .header--collapse{
    justify-content: space-between;
  }
}

@media (max-width: 991px){
  .header{
    display: flex;
    &__item{
      font-size: 180%
    }
    &__icon{
      color: white;
      font-size: 200%
    }
  }
  .header__list{
    margin-top: 5%
  }

  .header--collapse{

  }

  .user-menu{
    width: 100%
  }

}

