<div class="footer">
  <div class="col-md-5 box-medias">
    <h3 class="">Futura Imóveis</h3>
    <span><i class="fab fa-facebook-square"></i> facebook.com/futuraimoveis</span>
    <span><i class="fab fa-twitter-square"></i> @futura_imoveis</span>
    <span><i class="fas fa-phone-square"></i> (34)99899 3040</span>
  </div>
  <div class="col-md-7 footer__box">
      <iframe class="footer__box-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3773.1782580827335!2d-48.332718513733596!3d-18.96773330362525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94a4434ef3a29d47%3A0x6cd8d39d5588eb83!2sR.+Ulisses+Finotti+-+Jardim+Cana%C3%A3%2C+Uberl%C3%A2ndia+-+MG!5e0!3m2!1spt-BR!2sbr!4v1532459990342"
        width="90%" height="300px" frameborder="0" style="border:0"></iframe>
    </div>
</div>