@import '../../styles.less';

.footer{
    background-image: url('../../@{brick-texture}') ;
    height: 100%;
    padding: 2% 0;
    display: flex;
    flex-wrap: wrap;
    &__box{
      &-map{
        margin-left: 5%;
      }
    }
}

.box-medias{
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
  &_title{
    text-decoration: overline;
  font-style: oblique
  }
  &_span{
    font-size: 150%
  }
}

