<div class="panel" *ngFor="let client of clients">
  <div class="row">
    <div class="panel__img">
      <i class="fas fa-user-circle fa-3x"></i>
    </div>
    <div class="panel__name">
      <strong>{{client.nome}}</strong>
    </div>
    <div class="panel__email">
      <span>{{client.email}}</span>
    </div>
    <div class="panel__phone">
      <span>{{client.telefone}}</span>
    </div>
    <a (click)="deleteUser(client._id)">
      <i class="fas fa-minus-circle fa-2x panel__delete-btn"></i>
    </a>
  </div>
</div>
