@import '../../styles.less';

.panel{
    background-color: @secondary-color;
    margin: @margin-content;
    padding: @padding-content;
    box-shadow: @shadow;
    height: calc(100vh - (@navbar - @footer));
    .panel__nav-menu{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      .panel__btn{
        background-color: red;
        padding: 6px 8px;
        margin: 15px;
      }
    }
}

@media (max-width: 650px){
  .panel{
      margin: 10px
  }
}


