@import '../../styles.less';

.panel{
  background-color: @secondary-color;
  margin: @margin-login;
  padding: @padding-content;
  box-shadow: @shadow;
  @media @max576{
    margin: @margin-mobile!important;
  }
  @media @max767{
    margin: 50px 10%
  }
  .form{
    padding: @padding-form;
    display: flex;
    flex-direction: column;
    @media @max576{
      padding: 0;
    }
    &__btn-box{
      display: flex;
    }
    &__btn{
      margin: 5px;
    }
    &__field--validation.ng-invalid.ng-touched{
      border: 1px solid red;
    }
    &__field--validation.ng-valid.ng-touched{
      border: 1px solid green;
    }
  }
  &__pass-block{
    display: flex;
    flex-direction: column;
  }
  &__recovery-pwd{

  }
}


@media (max-width: 650px){
  .panel{
      margin: 0;
      padding: 20px;
  }
}
