@import '../../styles.less';

.panel{
  background-color: @secondary-color;
  margin: @margin-login;
  padding: @padding-content;
  box-shadow: @shadow;
  .form{
    &__field--validation.ng-invalid.ng-touched{
      border: 1px solid red;
    }
    &__field--validation.ng-valid.ng-touched{
      border: 1px solid green;
    }
  }
  &__pass-block{
    display: flex;
    flex-direction: column;
  }
  &__recovery-pwd{
    margin-left: 5%
  }
}

@media (max-width: 650px){
  .panel{
      margin: 10px;
      padding: 20px;
  }
}
