@import '../../styles.less';

.houses-panel{
    background-color: @secondary-color;
    margin: @margin-content;
    padding: @padding-content;
    box-shadow: @shadow;
    .houses-panel__cards-list{
        padding: 8px;
        .houses-panel__card{
          width: 18rem
        }
    }
}


@media (max-width: 650px){
  .houses-panel{

  }
}





