<div class="houses-panel">
  <div class="row">
    <div class="typewriter"><h3 class="welcome">Catálogo de imóveis</h3></div>
    <div class="input-group mb-3 col-lg-6 col-md-6 col-sm-12">
      <input type="text" class="form-control" placeholder="Procure seu imóvel através do bairro" aria-label="Recipient's username" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">procurar</button>
      </div>
    </div>
    <div class="houses-panel_error" *ngIf="conectionError">
      <h3>Não foi possível carregar a lista de imóveis, tente novamente mais tarde...</h3>
    </div>
  </div>
  <hr>
  <div class="houses-panel__cards-list row">
    <div class="card col-md-6 col-lg-4" *ngFor="let house of houses">
      <img class="card-img-top" src="../../assets/imoveis/casa-planalto-01.jpg" alt="Card image cap">

      <div class="card-body">
        <div class="card-body_info">
          <h4 class="card-title bairro">{{house.bairro}}</h4>
          <h5 class="tipo">{{house.tipo}}</h5>
          <p class="card-text desc">{{house.desc}}</p>
        </div>
        <div class="card-body_favorite" *ngIf="isLogged">
          <img class="card-body_favorite-icon" [src]="favoriteUrl" (click)="favoriteToggle($event)" #icon id="{{house._id}}">
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">R$ {{house.valor}}</li>
        <li class="list-group-item">{{house.quartos}} Quartos</li>
        <li class="list-group-item">Área: {{house.area}}</li>
      </ul>
    </div>
  </div>


