<div class="houses-panel">
  <div class="row">
      <h1 class="houses-panel__title col-lg-6 col-md-6 col-sm-12">
          Nossos Imóveis
        </h1>
        <div class="input-group mb-3 col-lg-6 col-md-6 col-sm-12">
            <input type="text" class="form-control" placeholder="Procure pelo imóvel ideal" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">procurar</button>
            </div>
          </div>
  </div>
  <hr>
  <h4 class="houses-panel__subtitle">Venda:</h4>
  <hr>
  <div class="houses-panel__cards-list row">
    <div class="card col-md-6 col-lg-4">
      <img class="card-img-top" src="../../assets/casa-planalto-01.jpg" alt="Card image cap">
      <i class="far fa-heart fa-2x houses-panel__fav"></i>
      <div class="card-body">
        <h4 class="card-title">Planalto</h4>
        <h5>Casa</h5>
        <p class="card-text">Sobrado em condomínio bem localizado, no Tubalina, a 700 metros do Praia Clube, 3 km da praça Tubal Vilela.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">R$ 450.000,00</li>
        <li class="list-group-item">4 Quartos</li>
        <li class="list-group-item">Área: 220m2</li>
      </ul>
    </div>

    <div class="card col-md-6 col-lg-4">
      <img class="card-img-top" src="../../assets/casa-planalto-01.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
      </div>
    </div>

    <div class="card col-md-6 col-lg-4">
      <img class="card-img-top" src="../../assets/casa-planalto-01.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
      </div>
    </div>
  </div>
  <h4 class="houses-panel__subtitle">Aluguel:</h4>
  <hr>
  <div class="houses-panel__cards-list row">
    <div class="card col-md-6 col-lg-4">
      <img class="card-img-top" src="../../assets/casa-planalto-01.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
      </div>
    </div>

    <div class="card col-md-6 col-lg-4">
      <img class="card-img-top" src="../../assets/casa-planalto-01.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
      </div>
    </div>

    <div class="card col-md-6 col-lg-4">
      <img class="card-img-top" src="../../assets/casa-planalto-01.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
      </div>
    </div>
  </div>
</div>
