<div class="houses-panel">
  <div class="row">
    <h1 class="houses-panel__title col-lg-6 col-md-6 col-sm-12">
      Nossos Imóveis
    </h1>
    <div class="input-group mb-3 col-lg-6 col-md-6 col-sm-12">
      <input type="text" class="form-control" placeholder="Procure pelo imóvel ideal" aria-label="Recipient's username" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">procurar</button>
      </div>
    </div>
  </div>
  <hr>
  <h4 class="houses-panel__subtitle">Destaques:</h4>
  <hr>
  <div class="houses-panel__cards-list row">
    <div class="card col-md-6 col-lg-4" *ngFor="let house of houses">
      <img class="card-img-top" src="../../assets/imoveis/casa-planalto-01.jpg" alt="Card image cap">

      <div class="card-body">
        <h4 class="card-title">{{house.bairro}}</h4>
        <h5>{{house.tipo}}</h5>
        <img [src]="favoriteUrl" alt="Adicionar aos favoritos" (click)="favoriteToggle()">
        <p class="card-text">{{house.desc}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">R$ {{house.valor}}</li>
        <li class="list-group-item">{{house.quartos}} Quartos</li>
        <li class="list-group-item">Área: {{house.area}}</li>
      </ul>
    </div>
  </div>
