
<div *ngFor="let house of houses" class="row panel panel--selected">
  <div class="col-lg-4 favorites-panel__slide">
      <img class="d-block w-100" src="../../../assets/imoveis/casa-tubalina-01.jpg" alt="First slide">
  </div>
  <div class="col-lg-5 panel__text">
    <strong>{{house.bairro}}</strong>
    <br>
    <span>{{house.endereco}}</span>
    <p>{{house.desc}}</p>
  </div>
  <div class="col-lg-3 panel__info">
    <ul class="panel__icons-list">
      <li class="panel__icons-item">
        <i class="fas fa-door-open fa-2x"></i>
        <span class="panel__info-text" style="margin-left: 10px">{{house.quartos}} quartos</span>
      </li>
      <li class="panel__icons-item">
        <i class="fas fa-shower fa-2x"></i>
        <span class="panel__info-text">{{house.suites}} suítes</span>
      </li>
      <li class="panel__icons-item">
        <i class="fas fa-car fa-2x"></i>
        <span class="panel__info-text">{{house.vagas}} vaga(s)</span>
      </li>
      <li class="panel__icons-item">
        <i class="fas fa-expand-arrows-alt fa-2x"></i>
        <span class="panel__info-text">{{house.area}} m2</span>
      </li>
    </ul>
    <button class="panel__delete-btn" (click)="removeHouse(house._id)">REMOVER IMÓVEL</button>
  </div>
</div>


