<div class="register-panel">
  <form [formGroup]="form" (ngSubmit)="sendData()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Endereço</label>
        <input type="text" class="form-control" placeholder="Rua Vinte, 235" formControlName="endereco">
      </div>
      <div class="form-group col-md-6">
        <label>Bairro</label>
        <input type="text" class="form-control" placeholder="Dom Almir"  formControlName="bairro">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Cidade</label>
        <input type="text" class="form-control" placeholder="Uberlandia" formControlName="cidade">
      </div>
      <div class="form-group col-md-4">
        <label>Estado</label>
        <select id="inputState" class="form-control" formControlName="estado">
          <option selected>...</option>
          <option>MG</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label>CEP</label>
        <input type="text" class="form-control" placeholder="38400200" formControlName="cep">
      </div>
    </div>

    <fieldset class="form-group">
      <legend class="col-form-label col-sm-2 pt-0">Tipo</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="tipo" id="gridRadios1" value="casa" formControlName="tipo">
          <label class="form-check-label" for="tipo">
            Casa
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="tipo" id="gridRadios2" value="apartamento" formControlName="tipo">
          <label class="form-check-label" for="tipo">
            Apartamento
          </label>
        </div>
      </div>
    </fieldset>

    <fieldset class="form-group">
      <legend class="col-form-label col-sm-2 pt-0">Disponibilidade</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="disp" id="gridRadios1" value="aluguel" formControlName="disp">
          <label class="form-check-label" for="disp">
            Aluguel
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="disp" id="gridRadios2" value="venda" formControlName="disp">
          <label class="form-check-label" for="disp">
            Venda
          </label>
        </div>
      </div>
    </fieldset>

    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="inputCity">N° de suítes</label>
        <input type="text" class="form-control" formControlName="suites">
      </div>

      <div class="form-group col-md-2">
        <label for="inputCity">N° de quartos</label>
        <input type="text" class="form-control" formControlName="quartos">
      </div>

      <div class="form-group col-md-2">
        <label for="inputCity">N° vagas garagem</label>
        <input type="text" class="form-control" formControlName="vagas">
      </div>

      <div class="form-group col-md-2">
        <label for="inputCity">Área útil</label>
        <input type="text" class="form-control" formControlName="area">
      </div>
    </div>

    <div class="form-row">
      <div class="input-group col-md-4">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend">R$</span>
        </div>
        <input type="text" class="form-control" formControlName="valor">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>
</div>
