@import '../../../styles.less';

.favorites-panel{
  box-shadow: @shadow;
  .favorites-panel__slide{
    margin: 0;
    padding: 0;
  }
  .favorites-panel__text{

  }
  .favorites-panel__info{

    .favorites-panel__icons-list{
      list-style: none;
      padding: 0
    }
  }
}

.favorites-panel:hover{
  box-shadow: @shadow-strong
}


