body{
    margin: 0;
    color: #777;
    height: 100%;
    font: 16px "Lato", sans-serif;
}


/* COLOR  VARIABLES */
@primary-color: rgb(248, 248, 248);;
@secondary-color: #eeecec94;;
@brick-texture: 'assets/brick-texture.png';
@text-navbar: white;


/* EFFECTS  VARIABLES */
@shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
@shadow-strong: 1px 5px 18px 3px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
@shadow-mobile: 2px 2px 0px 0px rgba(100, 121, 143, 0.44);

/* MEASURES VARIABLES */
@navbar: 80px;
@padding-content: 20px;
@padding-form:  10px 10%;
@padding-form-register:  10px 3%;;
@margin-mobile: 2%;
@margin-content: 1% 0;
@margin-user-area: 10px 20px;
@margin-login: 50px 25%;
@border: 6px;

/* SIZE REFERENCES */
@max576: ~"(max-width: 576.98px)";
@max767 : ~"(max-width: 767.98px)";
