<div class="box1">

</div>

<div class="content">
    O imóvel que você procura, com a garantia que você merece. É isso que a Futura Imóveis
    oferece. Somos uma empresa que nasceu e se desenvolveu em Uberlândia.
    No mercado desde 1980, somos especialistas
    em compra, venda e locação de imóveis residenciais,
    comerciais e também na zona rural.
</div>

<div class="box2">

</div>

<div class="content">
    A Futura Imóveis atua no mercado de forma honesta e transparente,
    realizando o sonho de moradia, intermediando os interesses do locatário e do locador,
    com eficiência e sensatez. Aqui, você encontra uma equipe formada por profissionais competentes,
    que entendem de mercado imobiliário e trabalham com foco no seu objetivo,
    seja ele relacionado à compra e venda ou à locação. A gente quer contribuir
    para realizar o sonho de quem busca um lugar para morar, seja ao comprar ou alugar.
</div>

<div class="box3">

</div>

<div class="content">
    Trabalhamos com apreço, cuidado e dedicação. Na Futura Imóveis, acreditamos
    no esforço e dedicação de cada colaborador. Respeitamos as regras do mercado em que atuamos.
    Buscamos sempre atender com qualidade e ter como resultado a satisfação de proprietários,
    compradores e inquilinos. Vem fazer negócios com a gente.
</div>
