@import '../../styles.less';

.quem-somos{
    background-color: @secondary-color;
    margin: @margin-content;
    padding: @padding-content;
    box-shadow: @shadow;
}

.quem-somos__descricao{
  text-align: justify;
}

